
QuanLySieuThi/.vs/BanHangSieuTHi/v16/Server/sqlite3/storage.ide-wal
QuanLySieuThi/.vs/BanHangSieuTHi/v16/Server/sqlite3/db.lock
QuanLySieuThi/.vs/BanHangSieuTHi/v16/Server/sqlite3/storage.ide
QuanLySieuThi/.vs/BanHangSieuTHi/v16/Server/sqlite3/storage.ide-shm
QuanLySieuThi/.vs/QuanLySieuThi/v16/.suo
QuanLySieuThi/.vs/slnx.sqlite
QuanLySieuThi/.vs/ProjectSettings.json
QuanLySieuThi/BanHangSieuTHi/obj/Debug/BanHangSieuTHi.csprojAssemblyReference.cache
